@import "normalize";
@import "transitions";

*, *:before, *:after {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, Inter, Helvetica Neue, sans-serif;
}

html {
	font-size: 16px;
}

.container {
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
}

.text-center {
	text-align: center;
}
